{% extends "base/app.html" %}

{% load custom_filter %}

{% block contents %}
<div class="container" id="user_detail">
    <!-- アカウント情報 -->
    <div class="row">
        <div class="col-md-2 col-md-offset-4">
        </div>
        <div class="col-md-9">
            {% if user.icon %}
            <img src=" {{user.icon.url}}" class="user_icon_img">
            {% endif %}
            <h2 class="detail_user_name">
                {{user.username}}
            </h2>

            <h4 class="detail_user_profile">profile</h4>

            <p>{{user.message|linebreaksbr }}</p><br>
            {% if user.id == login_user.id %}
            <h4 class="detail_user_profile">twitter</h4>
            {{user.twitter_url}} <br>

            <br>
            <a href="{% url 'accounts:icon_edit' %}">
                <button class="btn btn-secondary">
                    <i class="fas fa-cog"></i> プロフィールを編集する
                </button>
            </a>
            {% endif %}
            <hr>
            <h4 class="detail_user_profile">{{user.username}}の投稿一覧</h4>
            <hr>
            <di class="card">
                {% if post_list %}
                {% for post in post_list %}
                {% if post.author.id == user.id %}
                <div class="box_left bigsize">
                    <h3>{{ post.text }}</h3>
                </div>
                {% if post.picture %}
                <img src="{{post.picture.url}}" class="card-img" />
                {% endif %}
                <div class="pt-2">
                    <p>{{ post.created_at|date:'Y-m-d H:i' }}</p>
                    {{ comment_list|get_comment_list:post.id|linebreaksbr }}
                </div>
                <hr>

                {% endif %}
                {% endfor %}
                {% else %}
                {% endif %}
        </div>
    </div>
</div>

</div>
{% endblock contents %}